* {
    margin: 0;
    padding: 0;
 

}

.logo-docplanner {
    width: 200px;
    height: 30px;
    padding: 12px;
       
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}

header ul {
    display: flex;
}

header ul li {
    list-style-type: none;
    padding: 8px; 
      
}
.menu-item {
    text-decoration: none;
    color: #ababab;
}

.about {
    color: #00b39b;
    }
.menu-item:hover {
    color: #00b39b;
}

#dropdown-menu{
    flex-direction: column;
    position: absolute;
    display: none;
    color: #ababab;
    
}

.departments:hover + #dropdown-menu{
    display: flex;
    
}



#dropdown-menu:hover {
    display: flex;
    
}
.lead h1 {
    text-align: center;
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
}
h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

.lead__logo {
    display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
}
*, :after, :before {
    box-sizing: inherit;
}
body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    margin: 0;
}
.lead p {
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.col-2 {
    width: 50%;
}
.services {
    margin: 3.75rem auto 2.5rem;
}
.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
